{% extends 'base_content.html' %}
{% block content %}
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-12'>
      <h1>Available officers</h1>
      {% if membership_list %}
        <table class = 'table'>
          <thead>
            <tr>
              <th scope = 'col'>Gravatar:</th>
              <th scope = 'col'>Officer:</th>
              <th scope = 'col'>Email:</th>
              <th scope = 'col'></th>
            </tr>
          </thead>
          <tbody>
          {% for entry in membership_list %}
            <tr>
              <th scope = 'row'>
                <img src="{{ entry.member.mini_gravatar }}" alt="Gravatar of {{ entry.member.email }}" class="rounded-circle" >
              </th>
              <td><a href = '{% url 'show_member' entry.member.id entry.club.id %}'>{{ entry.member_full_name }}</td>
              <td>{{ entry.member.email }}</td>
              <td><a class="btn btn-lg btn-secondary" href = '{% url 'add_co_organiser' tournament.club.id entry.id tournament.id %}'>Add as co-organsiser</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No officers available currently.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
