{% extends 'base_content.html' %}
{% block content %}
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-12'>
      <h1>Tournaments</h1>
      {% if tournaments %}
        <table class = 'table'>
          <thead>
            <tr>
              <th scope = 'col'>ID:</th>
              <th scope = 'col'>Tournament:</th>
              <th scope = 'col'>Participant limit:</th>
              <th scope = 'col'>Deadline:</th>
              <th scope = 'col'></th>
            </tr>
          </thead>
          <tbody>
          {% for tournament in tournaments %}
            <tr>
              <th scope = 'row'>{{ tournament.id }}</th>
              <td>{{ tournament.name }}</td>
              <td>{{ tournament.total_participants_limit }}</td>
              <td>{{ tournament.deadline }} UTC+0</td>
              <td><a class="btn btn-lg btn-secondary" href='{% url 'participate_in_tournament' tournament.club.id tournament.id %}'>Join</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No tournaments right now.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
